<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <%# <% button_to "友達追加",  make_friend_path, method: :post, class: "register-blue-btn"%> %>

</div>
