<% content_for :title, "Editing team user" %>

<h1>Editing team user</h1>

<%= render "form", team_user: @team_user %>

<br>

<div>
  <%= link_to "Show this team user", @team_user %> |
  <%= link_to "Back to team users", team_users_path %>
</div>
